#jCarouselLite {
	min-width: 450px;
	position: relative;
}

#jCarouselLite .slider {
	padding: 10px 10px 0 0;
	margin: 0 0 0 25px;
	position: relative;
	background-color: #DC491A;
	width: 200px;
	height: 125px;
	border: 1px solid #DC491A;
}


#jCarouselLite ul {
	margin: 0;
}
#jCarouselLite li img,
#jCarouselLite li p {
	background-color: #DC491A;
	width: 100px;
	height: 100px;
	margin: 10px;
}
